<li div class="well col-sm-3 col-sm-offset-1">
  {{article.title}}
  <br>
  <p>by: {{article.author}}</p>
  {{article.published}}
  {{#link-to 'article' article.id}}<img src={{article.image}} alt={{article.title}}>{{/link-to}}
  <br>
  <br>
  <button {{action 'delete' article}}>Delete Article</button>
</li>
